<!doctype html>
<html lang="fr">
	<head>
		<title>%env:page.title%</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link href="/css/reset.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
		%components:css%
		<link href="/css/workshop.css" rel="stylesheet" type="text/css" />
	</head>
	<body class="cuerto">
		<!-- TOP - En-tête (Logo, Menu, Bloc utilisateur) - Sous-menu - Dossier -->
		<div id="template-top">

			<!-- En-tête -->
			<div id="header">

				<!-- Logo -->
				<h1><a href="/"><img src="/assets/images/logo.png" title="logo" alt="logo"/></a></h1>

				<!-- Menu principal -->
				<div id="menu">
					%container:menu%
				</div>
				<!-- Bloc utilisateur -->
				<div class="user">
					<p><span>%env:operateur.prenom% %env:operateur.nom%</span></p>
					<ul>
						<li>%env:logout%</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<!-- SOUS-MENU : Fil d'Ariane et boutons d'Interface et d'Aide -->
			<div id="sous-menu">
				%container:breadcrumb%

				<!-- Autres options du sous-menu -->
				%container:display%
				<ul class="options">
					<li><a href="#">&#9733; Options</a></li>
				</ul>
				<div class="clear"></div>
			</div>
		</div>

		<!-- CONTENU de la page (blocs) -->
		<div id="content">

			<!-- CONTENEUR de taille 1/3 -->
			<div class="conteneur-size1" id="left">
				%container:left%
				%container:right%

				<div class="clear"></div>
			</div>
			<!-- FIN du CONTENEUR de taille 1/3 -->


			<!-- CONTENEUR de taille 2/3 -->
			<div class="conteneur-size2" id="default">
				%container:default%

			</div>
		</div>
		<!-- FIN du CONTENEUR de taille 2/3 -->

		<!-- FOOTER -->
		<div id="bottom">

		<p class="left"><a href="#"><img src="/assets/images/logo-small.png" title="logo-small" alt="logo-small"></a>%env:app.name% %env:app.version% %env:app.env% - <strong>%env:annee.courante%</strong> %env:annee.future%</p>
		%container:absfooter%
			%container:footer%
			<ul class="right">
			%container:footerbuttons%
			</ul>
		</div>
	<script>
		jQuery(document).ready(function(){
			/*  Menu scrollable */
			$(window).scroll(function (e) {
				var offset = $('body').scrollTop();
				if (offset>1) {
					$("#template-top").addClass("header-scroll");
				} else {
					$("#template-top").removeClass("header-scroll");
				}
			});
		});
	</script>
	%components:js%
	</body>
</html>
